@charset "UTF-8";

body {
	margin: 0 5%;
}

table, th, tr, td {
	border: 1px solid #00000029;
	border-collapse: collapse;
}

table {
	width: 100%;
	font-size: 12px;
}

td {
	height: 18.5px;
}

.branch {
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d7e3ed;
    padding: 10px;
    border-radius: 4px;
}

.form {
	width: 100%;
}

.dropdown_div {
	display: flex;
    align-items: flex-end;
    gap: 8px;
    position: relative;
    width: 100%;
}

.submit_btn {
    position: absolute;
    right: 0;
}

.main {
	margin-top: 24px;
	height: 400px;
}

.detail_div {
	display: flex;
    justify-content: space-between;
}

.detail_table {
	margin-top: 8px;
}

.table_label {
	width: 90px;
    text-align: center;
    background-color: #00000014;
}

.table_row:hover {
    background-color: aliceblue;
}

/* 클릭해서 선택된 상태 */
.table_row.selected {
    background-color: #a0c4ff; /* 클릭됐을 때 남아있을 색깔 */
}


